/* General Styles */

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


/* Text Styles */

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.uppercase {
    text-transform: uppercase;
}


/* Colours */

.blue-background {
    background-color: #0F66D2;
}

.white-text {
    color: #F5F5F4;
}


/* Layout */

.centered {
    text-align: center;
}


/* Buttons */

.red-btn {
    background-color: #DB3A34;
}

.red-btn:hover {
    background-color: #E35F5F;
}


/* Navbar */

.navigation a {
    color: #F5F5F4;
    font-size: 1.6rem;
}

.sidenav-close {
    text-align: right;
}

.sidenav .navbar-divider {
    margin: 0;
}


/* Footer */

.social-footer {
    font-size: 2.5rem;
    margin: 1rem 0 0 0; 
}

.social-link {
    margin: 0 1rem;
}


/* Jumbotron */

.spotlight {
    height: 50vh;
}

.spotlight-btn {
    display: block;
}

/* Dictionary */
.rating {
    padding: .5rem;
}