/* General Styles */

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #E2E1DF;
    color: #2D2A32;
}


/* Text Styles */

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.uppercase {
    text-transform: uppercase;
}


/* Colours */

.blue-background {
    background-color: #0F66D2;
}

.off-white {
    color: #F5F5F4;
}

.dark-background {
    background-color: #2D2A32;
}

.dark-text {
    color: #2D2A32;
}

/* Layout */



/* Buttons */

.red-btn {
    background-color: #AC1610;
}

.red-btn:hover {
    background-color: #DB1C14;
}

.alpha-btns {
    background-color: #AC1610;
    color: #F5F5F4;
}

.blue-btn:hover {
    background-color: #257FEF;
}

/* Navbar */

.navigation a {
    color: #F5F5F4;
    font-size: 1.6rem;
    transition: all .5s;
    
}

.navigation a:hover {
    box-shadow: 0rem -.35rem 0rem #F5F5F4 inset;
}

.sidenav-close {
    text-align: right;
}

.sidenav .navbar-divider {
    margin: 0;
}


/* Footer */

.social-footer {
    font-size: 2.5rem;
    margin: 1rem 0 0 0; 
}

.social-link {
    margin: 0 1rem;
}


/* Jumbotron */

.full-container {
    width: 100%;
    position: relative;
}

.jumbotron-overlay {
  background-image: linear-gradient(to right, rgba(25, 25, 25, 1) 15%, rgba(25, 25, 25, 0));
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.spotlight {
    height: 50vh;
    background-image: url("/static/images/rocket_league_keyart.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spotlight .spotlight-btn {
    display: block;
    width: 50%;
    margin: 1rem;
}

.spotlight-content {
    position: relative;
    z-index: 2;
}

.benefits {
    margin-left: 1.6rem;
    font-size: 1.2rem;
}


/* Dictionary */

.rating-container {
    padding: .5rem;
}

.term-section {
    padding: 0 1rem;
}


/* Search Filters */

.search-filters {
    padding: 0rem 3rem;
}

.search-filters div.input-field {
    margin: 3rem 0rem;
}

.search-filters label {
    color: #2D2A32;
}

.alpha-btns {
    margin-top: .5rem;
}


/* Media Queries */
@media screen and (min-width: 600px) {
    .spotlight .spotlight-btn {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .spotlight .spotlight-btn {
        width: 100%;
    }
}