{% extends "base.html" %} {% block title %}Esports Dictionary | Add Definition{% endblock %} {% block content %}
<div class="container submit-definition-form">
  <h1 class="page-heading center-align blue-background off-white">Submit Definition</h1>
  <div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('submit_definition') }}">
      <div class="card-panel hoverable">
        <span class="dark-text">* indicates a required field</span>
        <!--Term-->
        <div class="row">
          <div class="input-field col s12 m6 register-field">
            <i class="fas fa-keyboard prefix"></i>
            <input id="term_header" name="term_header" type="text" minlength="1" maxlength="35" class="validate" required />
            <label for="term_header">Enter Term *</label>
            <span class="sublabel dark-text">Max 35 characters</span>
          </div>
          <!--Select Game-->
          <div class="input-field col s12 m6">
            <i class="fas fa-gamepad prefix"></i>
            <select id="game_name" name="game_name" class="game_name" required>
              <option value="" disabled selected>Choose game *</option>
              {% for game in games %}
              <option value="{{ game.game_name }}">{{ game.game_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <!--Short Definition-->
        <div class="row">
          <div class="input-field col s12 register-field">
            <i class="fas fa-comment-medical prefix"></i>
            <input id="short_definition" name="short_definition" type="text" minlength="1" maxlength="100" class="validate" required />
            <label for="short_definition">Enter Short Definition *</label>
            <span class="sublabel dark-text">Max 100 characters</span>
          </div>
        </div>
        <!--Long Description-->
        <div class="row">
          <div class="input-field col s12 register-field">
            <i class="fas fa-comment-dots prefix"></i>
            <textarea id="long_description" name="long_description" minlength="0" maxlength="300" class="materialize-textarea" data-length="300"></textarea>
            <label for="long_description">Description (optional)</label>
          </div>
        </div>
        <!--YouTube Link-->
        <div class="row">
          <div class="input-field col s12 register-field">
            <i class="fab fa-youtube prefix"></i>
            <input id="youtube_link" name="youtube_link" type="text" />
            <label for="youtube_link">YouTube Link (optional)</label>
            <span class="sublabel dark-text">Provide a YouTube link for context</span>
          </div>
        </div>
        <!--Submit Button-->
        <div class="row">
          <div class="col s12 center-align">
            <div class="padded-btns">
              <a href="{{ url_for('get_terms') }}" class="btn-small blue-background blue-btn off-white text-shadow"><i class="fas fa-window-close"></i> Cancel</a>
              <button type="submit" class="btn-small submit-btn disabled red-btn off-white text-shadow"><i class="fas fa-plus-circle"></i> Add Term</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
