{% extends "base.html" %} {% block content %}
<h1 class="heading uppercase center-align">Submit Definition</h1>
<div class="container submit-definition-form">
  <div class="row">
    <form
      class="col s12 m8 offset-m2"
      method="POST"
      action="{{ url_for('submit_definition') }}"
    >
      <div class="card-panel hoverable">
        <!--Term-->
        <div class="row">
          <div class="input-field col s12 m6 register-field">
            <i class="fas fa-keyboard prefix"></i>
            <input
              id="term_header"
              name="term_header"
              type="text"
              minlength="1"
              maxlength="35"
              class="validate"
              required
            />
            <label for="term_header">Enter Term</label>
            <span class="sublabel dark-text">Max 35 characters</span>
          </div>
          <!--Select Game-->
          <div class="input-field col s12 m6">
            <i class="fas fa-gamepad prefix"></i>
            <select id="game_name" name="game_name" class="game_name">
              <option value="" disabled selected>Choose game</option>
              {% for game in games %}
              <option value="{{ game.game_name }}">{{ game.game_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <!--Short Definition-->
        <div class="row">
          <div class="input-field col s12 register-field">
            <i class="fas fa-comment-medical prefix"></i>
            <input
              id="short_definition"
              name="short_definition"
              type="text"
              minlength="1"
              maxlength="100"
              class="validate"
              required
            />
            <label for="short_definition">Enter Short Definition</label>
            <span class="sublabel dark-text">Max 100 characters</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 register-field">
            <i class="fas fa-comment-dots prefix"></i>
            <textarea
              id="long_description"
              name="long_description"
              type="text"
              minlength="0"
              maxlength="300"
              class="validate materialize-textarea"
            >
            </textarea>
            <label for="long_description">Enter Long Description (optional)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 register-field">
            <i class="fab fa-youtube prefix"></i>
            <input
              id="youtube_link"
              name="youtube_link"
              type="text"
            />
            <label for="youtube_link">YouTube Link (optional)</label>
            <span class="sublabel dark-text">Provide a YouTube link for context</span>
          </div>
        </div>
        <!--Submit Button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large red-btn text-shadow">
                    <i class="fas fa-plus-circle"></i> Add Definition
                </button>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
        {% endblock %}

