{% extends "base.html" %} {% block content %}
<h1 class="heading uppercase center-align">Add New Game</h1>
<div class="container submit-game-form">
  <div class="row">
    <form
      class="col s12 m8 offset-m2"
      method="POST"
      action="{{ url_for('add_game') }}"
    >
      <div class="card-panel hoverable">
        <!--Game Name-->
        <div class="row">
          <div class="input-field col s12 register-field">
            <i class="fas fa-gamepad prefix"></i>
            <input
              id="game_name"
              name="game_name"
              type="text"
              class="validate"
              required
            />
            <label for="game_name">Enter Game Name</label>
          </div>
        </div>
        <!--Game Icon Address-->
        <div class="row">
          <div class="input-field col s12 register-field">
            <i class="fas fa-image prefix"></i>
            <input
              id="game_icon"
              name="game_icon"
              type="text"
              class="validate"
              required
            />
            <label for="game_icon">Enter Image Address</label>
            <span class="sublabel dark-text block"
              >Use Imgur to host images. Recommended size: 200x200px</span
            >
          </div>
        </div>
        <!--Submit Game Button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large red-btn text-shadow">
                    <i class="fas fa-plus-circle"></i> Add Definition
                </button>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
