{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s12 center-align">
    <h1 class="heading uppercase">Manage Games</h1>
    <a href="" class="btn red-btn"
      >Add New Game</a
    >
  </div>
</div>
<div class="row supported-games">
  {% for game in games %}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-content center-align">
        <span class="card-title">{{ game.game_name }}</span>
      </div>
      <div class="actions center-align padded-btns">
        <a href="" class="btn">Edit</a>
        <a href="" class="btn red-btn">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
